*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    }




div{
    background-color: rgb(251, 11, 11);
    height:50px;
    width:150px;
    border:5px soild black;
}




img{
    width:150px;
    height:150px;
    position: relative;
    top : 70px;
}